@import "../CSS/_variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  padding: 0.5rem 0;

  .bgDark {
    background: $bg-dark;
    color: $color-light;
    transition: $transition;
  }

  .bgBlue {
    background: $bg-blue;
    color: $color-light;
    transition: $transition;
  }

  .bgLight {
    background: $bg-light;
    color: $color-dark;
    transition: $transition;
  }
}
