.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 1rem 0;

  .bgDark {
    background: #000000;
    color: #f5f5f7;
    transition: 0.2s;
  }

  .bgLight {
    background: #f5f5f7;
    color: #0e1111;
    transition: 0.2s;
  }

  .bgBlue {
    background: #272d70;
    color: #f5f5f7;
    transition: 0.2s;
  }
}
