@import "../CSS/_variables.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .wrapper {
    margin: 0 auto;

    @media screen and (min-width: 320px) {
      & {
        width: 100%;
      }
    }
  
    @media screen and (min-width: 720px) {
      & {
        width: 100%;
      }
    }
  
    @media screen and (min-width: 1024px) {
      & {
        width: $width;
      }
    }
  
    @media screen and (min-width: 1280px) {
      & {
        width: $width;
      }
    }
  }
}

.bgDark {
  background: $bg-dark;
  color: $color-light;
  transition: $transition;
}

.bgBlue {
  background: $bg-blue;
  color: $color-light;
  transition: $transition;
}

.bgLight {
  background: $bg-light;
  color: $color-dark;
  transition: $transition;
}
