$font-family: -apple-system, "Poppins", "Inter", "Segoe UI", "Helvetica Neue",
  "Arial", sans-serif;
$font-size: 1.1em;
$transition: 0.25s;
$width: 60%;

$anchor-color: #57aefc;
$color-light: #f5f5f7;
$color-dark: #0e1111;

$bg-dark: #000000;
$bg-dark-alt: #1a1a1a;
$bg-dark-hover: #2a2a2a;
$bg-blue: #272d70;
$bg-blue-alt: #2f378c;
$bg-blue-hover: #1a1e4b;
$bg-light: #f5f5f7;
