@import "../../CSS/_variables.scss";

.slider {
  width: $width;

  @media screen and (min-width: 320px) {
    & {
      width: 100%;
    }
  }

  @media screen and (min-width: 720px) {
    & {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      margin: 0 auto;
      width: $width;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin: 0 auto;
      width: $width;
    }
  }

  & .slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

    @media screen and (min-width: 320px) {
      & {
        height: 200px;
        width: 100%;
      }
    }

    @media screen and (min-width: 720px) {
      & {
        height: 200px;
        width: 100%;
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        height: 350px;
        width: calc((350px / 9) * 16);
        margin: 0 auto;
      }
    }

    @media screen and (min-width: 1280px) {
      & {
        height: 350px;
        width: calc((350px / 9) * 16);
        margin: 0 auto;
      }
    }
  }
}
