@import "../../CSS/_variables.scss";

.slider {
  width: $width;

  @media screen and (min-width: 320px) {
    & {
      width: 100%;
      height: calc((100% / 16) * 9);
    }
  }

  @media screen and (min-width: 720px) {
    & {
      width: 100%;
      height: calc((100% / 16) * 9);
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      margin: 0 auto;
      width: calc((350px / 9) * 16);
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin: 0 auto;
      width: calc((350px / 9) * 16);
    }
  }

  & .slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

    @media screen and (min-width: 320px) {
      & {
        height: calc((350px / 16) * 9);
        width: 100%;
      }
    }

    @media screen and (min-width: 720px) {
      & {
        height: calc((350px / 16) * 9);
        width: 100%;
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        height: 350px;
        width: calc((350px / 9) * 16);
        margin: 0 auto;
      }
    }

    @media screen and (min-width: 1280px) {
      & {
        height: 350px;
        width: calc((350px / 9) * 16);
        margin: 0 auto;
      }
    }
  }

  .button {
    height: 100%;
    background: rgba(15, 15, 15, 1);
    opacity: 0.3;
    border: 0;
    color: $color-light;
    transition: $transition;

    &:hover {
      opacity: 0.4;
      transition: $transition;
    }
  }
}
