@import "../../CSS/_variables.scss";

.slider {
  width: $width;

  @media screen and (min-width: 320px) {
    & {
      width: 100%;
      height: calc((100% / 16) * 9);
    }
  }

  @media screen and (min-width: 720px) {
    & {
      width: 100%;
      height: calc((100% / 16) * 9);
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      margin: 2rem auto;
      width: 100%;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin: 2rem auto;
      width: 100%;
    }
  }

  & .slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

    @media screen and (min-width: 320px) {
      & {
        height: calc(round((300px / 16) * 9));
        width: 100%;
      }
    }

    @media screen and (min-width: 720px) {
      & {
        height: calc(round((300px / 16) * 9));
        width: 100%;
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        height: 600px;
        width: calc(round((600px / 9) * 16));
        margin: 0 auto;
      }
    }

    @media screen and (min-width: 1280px) {
      & {
        height: 600px;
        width: calc(round((600px / 9) * 16));
        margin: 0 auto;
      }
    }

    @media not all and (min-resolution: 0.001dpcm) {
      &[loading="lazy"] {
        clip-path: inset(0.5px);
      }
    }
  }

  .button {
    height: 100%;
    background: rgba(0, 0, 0, 0);
    width: 20%;
    border: 0;
    color: $color-light;
    transition: $transition;
  }
}
