@import "../../CSS/_variables.scss";

$yt: #ee0f0f;
$fb: #0b84ee;
$ig: #d62976;
$spotify: #1db954;

.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin: 1rem 0;
  width: 100%;

  @media screen and (min-width: 320px) {
    & {
      margin: 0.5rem auto;
    }
  }

  @media screen and (min-width: 720px) {
    & {
      margin: 0.5rem auto;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      margin: 1rem 0;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin: 1rem 0;
    }
  }

  & .linkCard {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    border-radius: 1rem;
    background: $bg-light;
    transition: $transition;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;

    & svg {
      width: 35px;
      height: 35px;
    }

    &.yt {
      color: $yt;
      border: 3px solid $yt;
      transition: $transition;

      &:hover {
        color: $color-light;
        background: $yt;
        transition: $transition;
      }
    }

    &.fb {
      color: $fb;
      border: 3px solid $fb;
      transition: $transition;

      &:hover {
        color: $color-light;
        background: $fb;
        transition: $transition;
      }
    }

    &.ig {
      color: $ig;
      border: 3px solid $ig;
      background: $bg-light;
      transition: $transition;

      &:hover {
        color: $color-light;
        background: radial-gradient(
          circle at 30% 107%,
          rgba(253, 244, 151, 1) 0%,
          rgba(253, 244, 151, 1) 5%,
          rgba(253, 89, 73, 1) 45%,
          rgba(214, 36, 159, 1) 60%,
          rgba(40, 90, 235, 1) 90%
        );
        transition: $transition;
        border: 3px solid $bg-light;
      }
    }

    &.spotify {
      color: $spotify;
      border: 3px solid $spotify;
      transition: $transition;

      &:hover {
        color: $color-light;
        background: $spotify;
        transition: $transition;
      }
    }
  }
}
