.content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5rem;
  z-index: 1;

  & p {
    font-weight: 600;

    @media screen and (min-width: 320px) {
      & {
        font-size: 1.25em;
      }
    }

    @media screen and (min-width: 720px) {
      & {
        font-size: 1.25em;
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        font-size: 1.25em;
      }
    }

    @media screen and (min-width: 1280px) {
      & {
        font-size: 1.25em;
      }
    }
  }

  & h1 {
    font-weight: 800;
  }
}
